header{
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.header-menu{  
    
    .arrow{
        float: left;
        margin-top: 15px;
        padding-left: 17px;
    }

    .logo{
        margin-right: 40px;
    }
}

    
