@import "../utils/variables";
@import "../utils/mixins";

.btn-main{
    @include mainButton; 
    @include cardShadow; 
    @include mainLinearGradientBackground;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; 
    &:hover{
        &::after{
            opacity: 1;
        }   
    }
    &::after {
        @include btnMainAnimation;
        @include mainButton;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
    }
}

