.loader{
  max-width: 768px;
  margin: auto;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  animation: loader-1 800ms 200ms forwards;
  @include tabletteVersion{
    max-width: 992px;
  }
  @include desktopVersion{
    max-width: 1440px;
  }
    &__wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      &__progress{
        width: 80%;
        margin: auto;
        height: 10px;
        border-radius: 20px;
        @include mainLinearGradientBackground;
        animation: progress 700ms both;
        transform-origin: left;
  
      }
      &__placeholder{
        font-size: 1rem;
        text-align: center;
      }
  

    }
   
  

}

