
.wrapper-load{
  z-index:1;
    top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
 
}

.loader{
  max-width: 473px;
  margin: auto;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height: 100%;
  z-index:-1;
  @include mainLinearGradientBackground;
  @include desktopVersion{
    max-width: 1440px;
  }
  
  .load{
    animation: loader 0s backwards;
    transform-origin: left;
    border: solid;
    
  }
  
}
