.menu__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    padding:32px 0 53px 0;
    border-radius: 40px 40px 0 0 ;
    background-color: $mainBackgroundColor;
    position: relative;
    top: -80px;
    @include desktopVersion{
        width: 70%;
        margin: auto;
        top:100px;    
    }

    h1{
        font-size: 1.65rem;
        padding-left: 0px;
        margin-bottom: 15px;
    }
  
    .restaurant__card__content{
        @include desktopVersion{
            justify-content: center;
            gap: 30px;
        }
    }
}
.menu-card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 17px;
    padding-right:17px;
    background-color: $mainBackgroundColor;
    @include desktopVersion{
        padding-left: 15%;
        padding-right: 15%;
    }
    
    
}

.course{
    margin-top: 40px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    width: 40px;
    overflow: visible;
    padding-bottom:13px ;
    border-bottom: solid 3px $menuHightlightColor;

}


