
.wrapper{
    max-width: 768px;
    margin: auto;
    
    @include desktopVersion{
        max-width: 1440px;
        
        
    }
}
*{
    box-sizing: border-box;
}
img{
    object-fit: cover;
}

ul li{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: black;
    
}