body{
    margin: auto;
    
    
}

.wrapper{
    max-width: 475px;
    margin: auto;
    border: solid 1px;
    
}

img{
    object-fit: cover;
}

ul li{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}