body{
    width: 100%;
    margin: auto;

    .wrapper{
        max-width: 767px;
        margin: auto;
        @include tabletteVersion{
            max-width: 992px;
        }
        @include desktopVersion{
            max-width: 1440px;  
        }
    }
}

*{
    box-sizing: border-box;
    
}

img{
    object-fit: cover;
}

ul li{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: $mainTextColor;   
}

