/***************************** decalration de la police de manière générale *****************************/
*{
    font-family: 'Roboto', sans-serif;
}

/***************************** declaration des typo de manière générale dans le projet *****************************/
h1{
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 1.88rem;
}

h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.12rem;
    font-style: 700;
  }
p{
    font-weight: 300;
    font-size: 1.06rem;
}