
.menu-header{
    width: 70%;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 23px;
    @include desktopVersion{
        width: 60%;
    }                                
}

.menu-image{
    width: 100%;
    height: 275px; 
    img{
        width: 100%;
        height: 275px;
        @include desktopVersion{
            height: 475px;
        }  
    }
}

