/*declaration des couleurs sur le site*/

$ColorPrimary:#9356DC;
$ColorDeepBlue: #003A68;
$ColorLighBlue:#89C8FA;
$ColorGreen:#008766;
$ColorLightGreen:#99E2D0;
$ColorGrey1:#D2D2D2;
$ColorGrey2:#EAEAEA;


