/*declaration des couleurs sur le site*/

$mainButtonColor:#9356DC;
$menuHightlightColor:#99E2D0;
$secondaryBackgroundColor:#D2D2D2;
$tertiaryBackgroundColor:#EAEAEA;
$mainBackgroundColor:#f6f6f6;


$size: 3vh;
$numBars:8;
$animDur: 800ms;
$animDelay: 100ms;
$bodyDelay: $animDur + $animDelay;


$numPlats:10;
$menuAnimDur:800ms;
$menuAnimDelay: 200ms;